*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url(/img/bodyBg.jpg)
}
#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;
    width: 300px;
    height: 600px;
    border: 5px solid rgb(75, 75, 75);
    box-sizing: content-box;
    background: url(/img/bg.png);
}
.cell{
    border: 1px solid rgba(0, 0, 0, 0.055);
    max-height: 30px;
    width: 30px;
}
.cell.figure{
    background: url(/img/yellow.png);
}
.cell.freze{
    background-color: rgba(255, 0, 0, 0.685);
}
#boxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    padding: 16px;
    margin:10px 90px;
}

